/* lemon-regular - latin */
@font-face {
	font-family: "Lemon";
	font-style: normal;
	font-weight: 400;
	src: url('/assets/dist/fonts/lemon-v14-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/assets/dist/fonts/lemon-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/assets/dist/fonts/lemon-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('/assets/dist/fonts/lemon-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
		url('/assets/dist/fonts/lemon-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/assets/dist/fonts/lemon-v14-latin-regular.svg#Lemon') format('svg'); /* Legacy iOS */
}
/* neucha-regular - latin */
@font-face {
	font-family: 'Neucha';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/dist/fonts/neucha-v17-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('/assets/dist/fonts/neucha-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/assets/dist/fonts/neucha-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('/assets/dist/fonts/neucha-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('/assets/dist/fonts/neucha-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('/assets/dist/fonts/neucha-v17-latin-regular.svg#Neucha') format('svg'); /* Legacy iOS */
}
*{
	body{
		font-family: "Lemon";
		// background-color: #202020;
		// background-image:
		// linear-gradient(45deg, #000 25%, transparent 25%),
		// linear-gradient(135deg, #000 25%, transparent 25%),
		// linear-gradient(45deg, transparent 75%, #000 75%),
		// linear-gradient(135deg, transparent 75%, #000 75%);
		// background-size:25px 25px; /* Must be a square */
		// background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */
		background-image: url('/assets/dist/img/back-morcegos.png');
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width: 1200px) {
		}

	}
}

header{
	height: 80px;
}

form{
	color: black;
	border-radius: 5px;
	border: 6px dashed #ffffff;
}

.cover-container {
	max-width: 60%;
	@media (max-width: 1200px) {
		max-width: 80%;
	}
	@media (max-width: 781px) {
		max-width: 100%;
	}
}

#multimidia{
	border: 5px solid #cc8fb8;
	transform: rotate(-10deg);
	z-index: 10;
	.plyr--video, .plyr--audio{
		width: 100%;
    	height: auto;
	}
	@media (max-width: 781px) {
		height: 400px;
		width: 250px;
	}
}

#textolateral{
	//position: relative;
	p{
		font-family: "Neucha";
		font-size: 1.2rem;
		//color: #cc8fb8;
		color: white;
		// position:absolute;
		// left: 5%;
		// z-index: 11;
		@media (max-width: 1200px) {
			font-size: 1rem;
		}
	}
}

#conteudo{
	background-color: #B20100;		
	background-image: url('/assets/dist/img/bg.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	min-height: 600px;
	filter: drop-shadow(15px 9px 12px #000);
	@media (max-width: 781px) {
		margin-top: 50px;
	}
	img{
		position: absolute;
		bottom: 0;
		left: 0;
		height: 200px;
		width: auto;
		&#coracoes{
			left: -55px;
			height: 250px;
			@media (max-width: 1200px) {
				height: 200px;
				left: 0px;
			}
			@media (max-width: 781px) {
				height: 100px;
				left: -20px;
			}
		}
		&#skull{
			top: -70px;
			right: -90px;
			left: unset;
			transform: rotate(45deg);
			@media (max-width: 1200px) {
				top: 0;
			}
			@media (max-width: 781px) {
				top: -29px;
				right: -35px;
				height: 100px;
			}
		}
		&#heart{
			top: -70px;
			left: -60px;
			transform: rotate(-45deg);
		}
	}
}
